* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: burlywood;
  color: black;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
}

input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 600;
}

textarea {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  resize: vertical;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .container {
    padding: 20vh;
  }
  form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10vh;
  }
  form {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 5vh;
  }
  form {
    width: 100%;
  }
}
